h1 {
	text-align: center;
	}

h2 {
	margin-left: 30px;
	}

img.image {
	float: right;
	margin-right: 30px;
	}

div {
	padding-top: 30px;
	margin: auto;
	width: 700px;
	height: 400px;
	background-color: rgb(228, 185, 91);
	}

input {
	border: 2px #050505 solid;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	}

select {
	border: 2px #050505 solid;
	padding: 3px;
	}

label {
	width: 60px;
	display: inline-block;
	margin-left: 30px;
	padding: 2px;
	}

input[type="submit"] {
	margin-left: 30px;
	padding-left: 10px;
	padding-right: 10px;

	}

